{% if not auth_success %}
  {{ auth_error }}
{% endif %}

<form class="form__login" action="/user/login/" method="post">
  <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <p>
    <label for="user-login">Логин:</label>
    <input id="user-login" type="text" name="user_login" required>
  </p>
  <p>
    <label for="user-password">Пароль:</label>
    <input id="user-password" type="password" name="password" required>
  </p>
  <p>
    <input id="user-remember" type="checkbox" name="user-remember" value="remember">
    <label for="user-remember">Запомнить меня</label>
  </p>
  <p><input class="submit-btn" type="submit" value="Войти"></p>
</form>